/* header.component.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Fondo transparente */
  z-index: 1000;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

  .hamburger .line {
    height: 3px;
    background-color: black; /* Color negro para las líneas */
    border-radius: 5px;
  }

nav {
  display: none; /* Ocultar el menú por defecto */
  position: absolute;
  top: 60px; /* Ajusta según sea necesario */
  left: 0;
  right: 0;
  background-color: transparent; /* Fondo transparente */
  padding: 10px;
}

  nav.open {
    display: block; /* Mostrar el menú cuando se active */
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea las opciones a la izquierda */
  }

    nav ul li {
      padding: 10px 0;
      text-align: center;
    }

      nav ul li a {
        color: black; /* Color negro para las letras */
        text-decoration: none;
        font-size: 18px;
      }

        nav ul li a:hover {
          color: #ffa500; /* Color al pasar el mouse */
        }

/* header.component.css */

/* Estilos para la bocina y el control de música */
.audio-control {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker-icon {
  font-size: 30px;
  color: white;
  position: relative;
}

  /* Efecto de las líneas cuando la música está activada */
  .speaker-icon.active::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    left: 15px;
    background-color: white;
    border-radius: 50%;
    animation: soundEffect 0.5s infinite ease-in-out;
  }

  .speaker-icon.active::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 15px;
    background-color: white;
    border-radius: 50%;
    animation: soundEffect 0.5s infinite ease-in-out;
  }

@keyframes soundEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* Estilos para el icono de la bocina */
.speaker-icon i {
  font-size: 30px;
}

.speaker-icon.active i {
  color: #ffa500; /* Color del icono cuando la música está activada */
}
