<!-- header.component.html -->
<header class="header">
  <!-- Botón hamburguesa -->
  <button class="hamburger" type="button" (click)="toggleMenu()" aria-label="Abrir/cerrar menú">
    <span class="line" [class.open]="menuOpen"></span>
    <span class="line" [class.open]="menuOpen"></span>
    <span class="line" [class.open]="menuOpen"></span>
  </button>



  <!-- Control de audio -->
  <button class="audio-control" type="button" (click)="toggleMusic()" aria-label="Música">
    <div class="speaker-icon" [ngClass]="{'active': isMusicOn}">
      <i class="fa" [ngClass]="isMusicOn ? 'fa-volume-up' : 'fa-volume-off'"></i>
    </div>
  </button>

  <!-- Reproductor de audio -->
  <audio #audioPlayer preload="auto"></audio>

  <!-- Menú -->
  <nav [ngClass]="{'open': menuOpen}">
    <ul>
      <li><a href="#home" (click)="closeMenu()">Home</a></li>
      <li><a href="#nosotros" (click)="closeMenu()">Nosotros</a></li>
      <li><a href="#galeria" (click)="closeMenu()">Galería</a></li>
      <li><a href="#lugares" (click)="closeMenu()">Lugares</a></li>
      <li><a href="#itinerario" (click)="closeMenu()">Itinerario</a></li>
      <li><a href="#vestimenta" (click)="closeMenu()">Vestimenta</a></li>
      <li><a href="#mesa-de-regalo" (click)="closeMenu()">Mesa de Regalo</a></li>
      <li><a href="#avisos" (click)="closeMenu()">Avisos</a></li>
      <li><a href="#confirma-asistencia" (click)="closeMenu()">Confirma Asistencia</a></li>
    </ul>
  </nav>
</header>
