<!-- nosotros.component.html -->
<!-- Sección siguiente que se muestra después de la imagen -->
<div id="nosotros" >
  <h4 class="descripcion text-Center">¡Solo Faltan!:</h4>  


<div class="countdown-container">
  <div class="countdown-item" id="days">
    <div class="fecha">{{ days }}</div>
    <div class="pareja">Días</div>
  </div>
  <div class="countdown-item" id="hours">
    <div class="fecha">{{ hours }}</div>
    <div class="pareja">Horas</div>
  </div>
  <div class="countdown-item" id="minutes">
    <div class="fecha">{{ minutes }}</div>
    <div class="pareja">Minutos</div>
  </div>
  <!--<div class="countdown-item" id="seconds">
    <div class="countdown-number">{{ seconds }}</div>
    <div class="countdown-label">Segundos</div>
  </div>-->
</div>

</div>
