<div class="avisos">
  <h2>Avisos</h2>
  <ul>
    <li>
      <strong>Evento libre de niños:</strong>
      Aunque amamos a sus pequeños, queremos evitar accidentes, hemos optado por una celebración solo para adultos para nuestro gran día
    </li>
    <li>
      <strong>Vestimenta:</strong>
      Azul Marino / Azul Noche.
      Verde Esmeralda / Botella.
      Borgoña / Vino / Vinotinto.
    </li>
    <li>
      <strong>Hora de llegada:</strong>
      Por favor, punta­les a las 5:00 PM.
    </li>
  </ul>
</div>
