<!-- lugares.component.html -->
<div class="lugares-container">
  <!-- Iglesia -->
  <div class="lugar">
    <img src="assets/TemploAnimado.png" alt="Iglesia"style="width: 150px; height: auto;" class="lugar-imagen" />
    <div class="direccion">
      <h3>Santuario San Nicolás De Bari</h3>
      <p>Dirección: Cáncer # 4190-A Col 45120, Juan Manuel Vallarta, 45120 Zapopan, Jal.</p>
      <button (click)="openGoogleMaps('Santuario San Nicolás De Bari, Cáncer # 4190-A Col 45120, Juan Manuel Vallarta, 45120 Zapopan, Jal.')">Ver en Maps</button>
    </div>
  </div>

  <!-- Salón de eventos -->
  <div class="lugar">
    <img src="assets/salon-de-eventos.png" alt="Salón de Eventos" style="width: 150px; height: auto;" class="lugar-imagen" />
    <div class="direccion">
      <h3>Bosque By ALOFA</h3>
      <p>Dirección: Av. Adolfo López Mateos Sur 8009, 45645 Tlajomulco de Zúñiga, Jal.</p>
      <button (click)="openGoogleMaps('Av. Adolfo López Mateos Sur 8009, 45645 Tlajomulco de Zúñiga, Jal.')">Ver en Maps</button>
    </div>
  </div>
</div>
