<!-- mesa-de-regalo.component.html -->
<div class="mesa-de-regalo-container">
    <div class="image-container">
      <img src="assets/MesaDeRegalos.png" style="width: 150px; height: auto;" alt="Mesa de Regalos" class="mesa-de-regalo-image" />
    </div>
    <div class="content">
      <h2>Mesa de Regalos</h2>
      <p class="description">Haz tus compras para nuestra boda a través de nuestra mesa de regalos en Amazon.</p>
      <button (click)="irAMesaDeRegalos()">Ver en Amazon</button>
    </div>
  </div>
  
