<!-- app.component.html -->
<app-header></app-header>  <!-- Incluye el header -->
<div class="content">

  <app-home></app-home>

  <section id="nosotros">
    <app-nosotros></app-nosotros> <!-- Nosotros con contador -->
  </section>

  <section id="galeria">
    <app-galeria [imagenes]="manifest?.galeria"></app-galeria>
  </section>

  <section id="lugares">
    <app-lugares></app-lugares> <!-- lugares -->
  </section>

  <section id="mesa-de-regalo">
    <app-mesa-de-regalo></app-mesa-de-regalo> <!-- Mesa de Regalo -->
  </section>

  <section id="itinerario">
    <app-itinerario [items]="manifest?.itinerario"></app-itinerario>
  </section>

  <section id="avisos">
    <app-avisos></app-avisos> <!-- Avisos -->
  </section>

  <!-- Agrega más secciones aquí... -->

</div>
