<div class="timeline">
  <div class="event left">
    <div class="label">Recepción</div>
    <img src="assets/itinerario-recepcion.png" alt="Recepción">
  </div>
  <div class="event right">
    <div class="label">Ceremonia</div>
    <img src="assets/itinerario-ceremonia.png" alt="Ceremonia">
  </div>
  <div class="event left">
    <div class="label">Comida</div>
    <img src="assets/itinerario-comida.png" alt="Comida">
  </div>
  <div class="event right">
    <div class="label">Brindis</div>
    <img src="assets/itinerario-brindis.png" alt="Brindis">
  </div>
  <div class="event left">
    <div class="label">Baile</div>
    <img src="assets/itinerario-baile.png" alt="Baile">
  </div>
  <div class="event right">
    <div class="label">Despedida</div>
    <img src="assets/itinerario-despedida.png" alt="Despedida">
  </div>
</div>

<div class="timeline-image">
  <img src="assets/decoracion-itinerario.png" alt="Decoración itinerario">
</div>
