/* home.component.css */
.home-container {
  position: relative;
  width: 100%;
  height: 50vh; /* La imagen ocupa la mitad de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen cubre el área pero mantiene la relación de aspecto */
  position: absolute; /* Para que la imagen quede en el fondo */
  top: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  top: 50%; /* Centra el texto verticalmente */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición del texto exactamente en el centro */
  text-align: center;
  color: white; /* Puedes cambiar el color del texto */
  font-family: 'Arial', sans-serif;
}

  .text-overlay h1 {
    font-size: 48px; /* Tamaño del título */
    margin-bottom: 20px;
  }

  .text-overlay p {
    font-size: 24px; /* Tamaño del párrafo */
  }

.text-Center {
  position: absolute;
  top: 51%; /* Centra el texto verticalmente */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición del texto exactamente en el centro */
  text-align: center;
  color: black; /* Puedes cambiar el color del texto */
}

  .text-Center h1 {
    font-size: 48px; /* Tamaño del título */
    margin-bottom: 20px;
  }

  .text-Center p {
    font-size: 24px; /* Tamaño del párrafo */
  }
/* Para el título */
.titulo-boda {
  font-family: 'Black Chancery', serif;
  font-size: 36px;
  font-style: italic; /* Para hacerla más elegante */
}

/* Para párrafos */
.descripcion {
  font-family: 'Bookman Old Style', serif;
  font-size: 18px;
}
