<div id="home" class="home-container">
  <img src="assets/ManosAnillo.jpeg" alt="Imagen de fondo" class="home-image">
  <div class="text-overlay">
    <h4 class="titulo-boda">Nuestra Boda</h4>
    <h2 class="descripcion">Edgar & Karen</h2>
    <h2 class="descripcion">06/Junio/2026</h2>
  </div>
</div>

<!-- Sección siguiente que se muestra después de la imagen -->
<div id="nosotros" class="next-section">
  <h4 class="descripcion text-Center">¡El gran día se acerca! Queremos compartirlo con ustedes:</h4>  
</div>
